/03_Truthy_falsy
/05_objects
/06_LoopingAndCollection
/07_ArrowAndCallbackFunctions
/08_stringAndArrayMethods
/09_Events
/10_promise_async_await
/11_Fetch-debug
/12_FetchAPI_Debug
/CssDemo
/Images
/index.html
/newscript.js